<div class="child-wrapper">
    Hi, I'm child component!'
    <button v-on:click="emitToParent">Emit to parent</button>
    <span>{{watchHandler()}}</span>
    <button v-on:click="watchTrigger">Trigger watch handler</button>

    <br>
    <h2>Computed property below</h2>
    <h3>hi: {{computedProperty}}</h3>
    <button v-on:mouseover="computedPropertyChanger('Computed property changed on hover')">Change the computed property</button>
</div>