<div>
    <button @click="onClick">Click!</button>
    <child v-bind:dataFromParent="dataForChild" @childemits="childEventHandler"></child>
    <router-view></router-view>
    <child v-if="showChild" v-on:childemits="childEventHandler"></child>

    <!-- This removes the child from the DOM and triggers the destroy lyfecycle hook of that component-->
    <button v-on:click="showChild = !showChild">Toggle a child component</button>
</div>